$black: rgb(8, 24, 0);
$gray: rgb(16, 28, 2);
$white: rgb(255, 255, 255);
$green: rgb(65, 138, 28);
$light-green: rgb(247, 255, 236);

$main-font: 'Raleway', sans-serif;

$transition: all 0.2s ease-in-out;